@model IEnumerable<TesteNextSoftMVC.Models.Familia>

@{
    ViewData["Title"] = "Index";
}

<h1>Famílias</h1>

<p>
    <a asp-action="Create">Criar nova Família</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condominio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaApto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FracaoIdeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorIPTU_Proporcional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condominio.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaApto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FracaoIdeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorIPTU_Proporcional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
