@model TesteNextSoftMVC.Models.Condominio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Condomínio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTotalCondominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTotalCondominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorIPTU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorIPTU)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
